 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,
html {
  /* height: 100%; */
  /* margin: 0rem; */
  overflow-x: hidden;
  /* display: flex; */
  /* flex-direction: column; */
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

/* ++++++++++++ NavBar ++++++++++++++++++ */
nav{
  height:160px;

}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000CC;
    padding: 0px 10vw;
    list-style: none;
    height:44px;
    font-size: 16px;
    font-weight: 400;
    flex-wrap: wrap;
}


#List-of-Products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    flex-wrap: nowrap;
    overflow-x: auto; /* This allows horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    width: 80%; /* Use the full width of the screen */
    margin: auto;
}

.item {
    text-align: center;
    min-width: 100px; /* Set a minimum width for each item to prevent them from collapsing */
    /* padding: 16px;   */
}

#List-of-Products > h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.11999999731779099px;
}


.new-r {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.07999999821186066px;
    color: #BF4800;
}

 
/* ********************************************************************** */
/* ++++++++++  Image section +++++++++*/

#product-images{
    text-align: center;
}

/*                     first image                      */
#first-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 113px;
    width: 90vw;
    margin: auto;
}
.para17{
font-size: 17px;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.37400001287460327px;
color:#6E6E73;
}
#first-img>h3{
    font-size: 24px;
    padding: 5px;
}
#first-img>h1{
font-size: 48px;
font-weight: 700;
line-height: 52px;
padding: 5px;
letter-spacing: -0.14399999380111694px;
/* these four line of code give the color to text */
background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
-webkit-background-clip: text;
color: transparent;
display: inline-block;
 

}
.imgpp{
 font-size: 21px;
 font-weight: 400;
 line-height: 29px;
letter-spacing: 0.23100000619888306px;
color: #1D1D1F;
padding: 10px;
}
.class{
    margin: 20px;
}
.img-buy{
width: 61.2px;
height: 36px;
border-radius: 980px;
font-size: 17px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.37400001287460327px;
text-align: center;
background: #0071E3;
border: none;
color: white;
margin-right: 15px;

}
.img-learn{
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
color: #0066CC;
margin-left: 15px;
}
#first-img>img{
    margin: 20px;
}

/*                    image second            */
#second-img{
    background-color: black;
    padding-top: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#second-img>img{
   margin: 20px;
}
 
#second-img>h1{
    font-family: SF Pro Display;
font-size: 48px;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.14399999380111694px;
text-align: center;
background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
-webkit-background-clip: text;
color: transparent;
display: inline-block;

}
.sip{
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
 padding: 20px;
 color: #FFFFFF;

}

/*                        image three           */
#third-img{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
#third-img>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#third-img>div>h1{
 
font-size: 48px;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.14399999380111694px;
background: linear-gradient(90deg, #1E3791 0%, #2948B1 40%, #3153C6 55%, #385FDA 60%);
-webkit-background-clip: text;
color: transparent;
display: inline-block;
padding: 20px;

}

/*                        image four                  */
#fourth-img{
    position: relative;
    width: 100vw;
}
#fourth-img>img{
    width: 100vw;
}
#fourth-img>div{
    position: absolute;
    top: 41%;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 230px;
    text-align:start;
}
#fourth-img>div>p{
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.2160000056028366px;
color: #FFFFFF;
}
#fourth-img>div>h1{
font-size: 48px;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.14399999380111694px;
color: #FFFFFF;
width: 300px;
margin: 20px 0px;
}
#fourth-img>div>button{
width: 142.23px;
height: 36px;
border: none;
border-radius: 980px;
background-color: #FFFFFF;
color: black;
}

/* ***************************************************************************** */
/* ++++++++++++ Comparison +++++++ */
#Product-Comparison{
 text-align: center;

}
#Product-Comparison>h1{
margin: 100px;
font-size: 48px;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.14399999380111694px;
color: #1D1D1F;

}
 .Comparison1{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(9,auto);
    gap: 50px;
    width: 70%;
    margin: auto;
    /* grid-auto-flow: column; */
    background-color: #2CA2B4;
  
 }

 .Comparison2,.Comparison3{
    display:none;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(9,auto);
    gap: 50px;
    width: 70%;
    margin: auto;
    grid-auto-flow: column;
  
 }
 
/*                 phone name                 */
 .phone-name,.network{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom: 1px solid #D2D2D7;

 }

.phone-name img{
margin: 10px 0px;
}

.phone-name h2{
font-size: 17px;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.37400001287460327px;
color: #1D1D1F;
margin-bottom: 30px;
}
.p-14{

font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.2240000069141388px;
color: #1D1D1F;
}
.phone-name>button{
margin: 10px 0px;
}
.phone-name>a{
    padding-bottom: 40px;
    }

    /*               display-size                  */

    .display-size>h3{
        font-size: 17px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.37400001287460327px;
       color: #1D1D1F;
        
    }

    /*             Dynamic                        */

    .Dynamic{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
    }

.p-14-color{
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.2240000069141388px;
counter-reset: #6E6E73;
}

.image-margin{
    margin-bottom: 5px;
 }

 /*                  network                 */
 .network>h4{
margin-bottom: 40px;
 }
 .network{
    margin-bottom: 70px;
}

 

/* ++++++++++++  compare All +++++++++++++++++++ */
.compare-all a{
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.23100000619888306px;
    color: #0066CC;
    margin: 0px 30px;    
}
 
.compare-all{
   margin-bottom: 50px;
}

 /* ****************************************************************** */
main{
    /* display: none; */
    background-color:#f2f2f2;
    width: 100vw;
    margin-top: 120px;
    padding:33px 70px;
}
 /* ********************** Product Financing +++++++++++++++++++++ */
 /* ******************************************************************** */
#WOW{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:587px ;
    margin: auto;
    background: #01012A;

}
#WOW>div{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
#WOW>div>h1{
font-weight: 700;
line-height: 100px;
font-size: 90px;
letter-spacing: -0.27000001072883606px;
color: #FFFFFF;
}
#WOW>div>a{
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
color:#2997FF;
}

#Product-Financing>h1{
text-align: center;
}

#Product-Financing>h1,#Product-Accessories>h1,#Product-Branding>h1{
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: -0.2800000011920929px;
color: #1D1D1F;
margin: 50px 0px;
}

/* +++++++++++++++++++++++++++ way-card +++++++++++++++++++ */

#way-card{
    text-align: center;
    background-color: #FFFFFF;
    padding: 100px;
    margin-bottom: 15px;
}
#way-card>h1{
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.2160000056028366px;
 color: #1D1D1F;
 margin: 10px;

}
#way-card>h2{
font-size: 48px;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.14399999380111694px;
color: #1D1D1F;
margin: 10px;
}
.way-plateform{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 50px;
}
.plateform-card>img{
    margin: 10px;
}

.plateform-card>p{
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
color: #6E6E73;
}

#way-card>button{
    width: 169.8px;
    height: 56px;
    padding: 18px, 30.6px, 18px, 31px;
    border-radius: 980px;
    border: none;
    background-color: #0071E3;
    color: #FFFFFF;
font-size: 17px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.37400001287460327px;
 margin: 40px;
}

/* +++++++++++++++++ Two-colom-card+++++++++++++++++++++++ */

#Two-colom-card{

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.first-colom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    padding-top:50px;
}
.f-c{
    margin: 15px 15px 15px 0px;
}
.s-c{
    margin: 15px 0px 15px 15px;
}
.first-colom>h1{
font-size: 48px;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.14399999380111694px;
color: #1D1D1F;
text-align: center;
}
.first-colom>p{
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
text-align: center;
width: 470px;
margin-bottom: 10px;
}

.first-colom>a,#Why-Apple-card>a{
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
text-align: center;
color: #0066CC;
margin-bottom: 50px;
}


/* ++++++++++++++++ Why-Apple-card +++++++++++++++++++++++++ */

#Why-Apple-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 560px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./image/new4.png);
    margin-top: 15px;
}
#Why-Apple-card>h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.14399999380111694px;
    text-align: center;
    color: #1D1D1F;  
    margin-bottom: 20px;
    width: 560px;
}
#Why-Apple-card>p{
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.23100000619888306px;
    text-align: center;
    color: #1D1D1F;
    margin-bottom: 20px;
    width: 460px;
    
}

/* ++++++++++++++++++ Product-Accessories ++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */

#Product-Accessories{
    text-align: center;
}
#accessories-first-card{
    display: flex;
     align-items: center;
     flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    padding-top: 50px;
    margin: 7px 0px;
}
.accessories-h2{
font-size: 48px;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.14399999380111694px;
text-align: center;
color: #1D1D1F;
margin: 10px;
}
.accessories-p{
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
text-align: center;
color: #1D1D1F;
margin: 10px;
width: 300px;
}
.accessories-a{
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
text-align: center;
color: #0066CC;
margin: 10px;
}
#accessories-second-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
   justify-content:space-betweens;
   background-color: #FFFFFF;
   margin: 7px 0px;
   
}
 
#accessories-second-card>div>p{
    width: 400px;
}
#accessories-third-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    padding: 25px;
    margin: 7px 0px;
}
#accessories-third-card>h2{
    width: 270px;
}

#accessories-four-card{
margin: 50px;
}
#accessories-four-card>div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 50px;
}
.p21{
font-size: 21px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
text-align: center;
color: #1D1D1F;
}


/* +++++++++++++++++ Branding ++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */
#Product-Branding{
 text-align: center;
 
}
 
.what-first-card-first-row{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    /* justify-content: center; 
    align-items: center; */
    background-image: url(./image/div\ \(8\).png);
    background-position: center center;

    margin: 20px 0px;
}
 
 .what-first-card-second-row{

 display: flex;
 flex-direction: column;
 align-items: center;
 background-color:#FFFFFF;
 width:700px;
 margin: auto;

 }
 .what-first-card-second-row>h2{
 width: 430px;
 margin-top: 50px;
     }

.what-second-card-first-row{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap-reverse;
    width: 100%;
    padding: 100px 0px;
    background-color: #FFFFFF;
    margin-bottom: 10px;

}


.what-second-card-first-row>div>p{
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.19599999487400055px;
    text-align: center;
    color: #1D1D1F;
    width: 400px;
    margin: 20px; 
}
#what-second-card-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);  
    /* height: 700px; */
}
#tv{
    background-color: black;
    padding-top: 50px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width: 100%;
}
#tv>p,#news>p{ 
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
text-align: center;
color:#F5F5F7;
width: 320px;
margin: 10px;

}
#tv>div{
margin-bottom: 50px;
 }
.bw{
    background-color: #FFFFFF;
}
.f{
    margin: 10px 10px 10px 0px;
}
.s{
    margin: 10px 0px 10px 10px;
}

#music{
display: flex;

}
#music>p,#Arcade>p,#Fitness>p,#Gift>div>p,#what-second-card-five-row>div>p{
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
text-align: center;
color: #1D1D1F;
margin-bottom: 10px;
}
#music>div{
    margin-bottom: 50px;
}

#news{
    display: flex;
    align-items: center;
    flex-direction:column;
    background-image: url(./image/div\ \(7\).png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#news>div{
    margin-top: 150px;
}
#news a{
font-size: 21px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
text-align: center;
color: #F5F5F7;

}
#news>div p{ 
width: 500px;
font-size: 21px;
margin-bottom: 10px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.23100000619888306px;
text-align: center;
color: #F5F5F7;

}
#Arcade{
    background-image: url(./image/div\ \(6\).png);
    background-repeat: no-repeat;
    background-position: center center;
}
#Arcade>p{
  width: 320px;
}
#Fitness>div,#Gift>div>div{
    margin-bottom: 40px;
}

#Gift>img{
    width: 100%;
}
#Gift{
    padding: 50px 0px;
}

#what-second-card-five-row{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding-top: 100px;
    margin-top: 10px;
    width: 100%;
}
.texts{
    margin-bottom: 40px;
}

/* +++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++ footer +++++++++++++++++++++++++ */

footer{
    width: 50vw;
    margin: auto;
    /* display: none; */
}
footer p{
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #6E6E73;
margin-bottom:10px ;
 
}
footer span{
    color: #424245;
}

#iphone-f{
    display: flex;
    align-items: center;
    border-top: .5px solid #e4e4e4;
    margin-top: 20px ;
}
#iphone-f>p{
   margin-top: 11px;
}
#iphone-f>img{
    margin-right: 11px; 
 }

 #footer-option{
    display: flex;
    align-items:start;
    justify-content: space-between;
 }
 #footer-option h4{
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.11999999731779099px;
    text-align: left;
    color: #1D1D1F;
    margin-top: 20px;
    margin-bottom: 10px;  
 }
 .foter-a{
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #0066CC;
 }
 .foter-ac{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #6E6E73;
}
 .mar-p{
    margin-top: 40px;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
 }
 #copyrigth{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
 
 }
 .mar-l{
 margin-left: 150px;
 }
 .bor{
    border-right: 1px solid #e4e4e4;
    padding: 0px 10px;
 }

 @media screen and (max-width: 1000px) {
    /* ++++++++++++ NavBar ++++++++++++++++++ */

.for1000{
        display:none;
        }

#List-of-Products {
    width: 100%;  
}

.Comparison1{
    gap: 5px;
    width: 100%;
 }

 .Comparison2,.Comparison3{
    display:none;
 }
 main{
    padding:33px 0px;
}

#WOW{
    height:1000px ;
    flex-wrap: wrap-reverse;
    text-align: center;
}
#way-card>h2{
    font-size: 25px;
    line-height: 25px;
    margin: 10px 0px;
    }
    #way-card{
        padding: 5px; 
    }

    #Why-Apple-card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       background-position: center center;
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-image: url(./image/new4.png);   
        width: 100%;
        height: 560px;
        margin: 15px auto;
    }
  

    #Why-Apple-card>h1{
        font-size: 30px;
        line-height: 30px;
        width: 300px;
    }
    #Why-Apple-card>p{
        font-size: 15px;
        line-height: 15px;
        width: 280px;
        
    }

  
#accessories-third-card>img{
height: 350px;
}


 
 }

 @media screen and (max-width: 1150px) {
    #Two-colom-card{
        flex-wrap: wrap;
            }

            .f-c{
                margin:10px 0px;
            }
            .s-c{
                margin:10px 0px;
            }
    
        
 }

 @media screen and (max-width: 700px) {
    .Comparison1{
      display: none;
     }
    .Comparison2,.Comparison3{ 
     display:grid;
     width: 100%;
      column-gap: 5px;
     }
    .first-colom>h1{
        font-size: 30px;
        line-height: 26px;
        margin-bottom: 10px;
        }
        .first-colom>p{
        font-size: 15px;
        line-height: 15px;
        width: 300px;
      
        }
        #accessories-second-card>img{
            height: 320px;
               
           }

           #accessories-first-card>img{
           height: 320px;
           }
           #accessories-second-card>div>p{
            width: 280px;
        }
          
#accessories-third-card>img{
    height: 250px;
    }

    .what-first-card-second-row>h2{
    font-size: 30px;
    line-height: 30px;
    width: 300px;
        }
        .what-first-card-second-row{
        width: 100%;    
                }
                .what-first-card-second-row>img{
                height: 200px;
                }   
     .what-second-card-first-row>img{
            height: 200px;
        }  
        .what-second-card-first-row>div>img{
            height: 50px;
        }   
        .what-second-card-first-row>div>p{
        width: 300px;
        }   
        
 }

 @media screen and (max-width: 1360px) {

 #accessories-second-card{
   justify-content:center;
    
}

#what-second-card-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);  
    
}
footer{
    width: 80vw;
    margin: auto;
}
footer p{
font-size: 10px;
line-height: 14px;
}
#fourth-img>div{
    padding: 0px 100px;  
} 
}
@media screen and (max-width: 733px) {
 .notshow734{
    display: none;
 }
 footer{
    width: 100vw;
    
}
footer p{
font-size: 8px;
line-height: 10px;
}
.x{
    height: 400px;
}
}
@media screen and (max-width: 614px) {
    .notshow614{
       display: none;
    }
    .x{
        height: 200px;
    }
    .v{
        height: 400px;
    }
    

   }
   @media screen and (max-width: 800px) {
   #fourth-img>div>h1{
    font-size: 30px;
    line-height: 30px;
   } 
   #fourth-img>div>p{
    font-size: 15px;
    line-height: 15px;
   } 
   #fourth-img>div{
    padding: 0px 30px;
   }
   }
